*{
    box-sizing: border-box;
}

body {
    font-family: "Mulish", Arial, sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 1rem;
}

figure {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    border-radius: 25px;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    max-width: 700px;
    filter: drop-shadow(10px 10px 8px rgb(101, 101, 101));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.birthday {
    background-color: blue;
}

.event {
    background-color: red;
}

@media screen and (min-width: 500px) {
    figure:hover {
        transform: scale(1.1);
        filter: drop-shadow(16px 16px 30px rgb(101, 101, 101));
    }
}